.home {
    background-color: var(--gray-4);
    color: var(--gray-1);

    padding-top: 70px;
    padding-bottom: 40px;

    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;

    max-width: 1280px;
}

.home section {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 350px;
}

.home img {
    width: 100%;
}

.home button {
    margin: 0 auto;

    width: 241px;
    height: 40px;
}

@media (min-width: 798px) {
    .home .container {
        flex-direction: row;
        column-gap: 4rem;
    }

    .home section {
        max-width: 30%;
    }
    .home button {
        margin: 0;
    }
}
